[Desktop Entry]
Name=dev
Comment=
Exec=sakura -c 80 -r 34 --config-file=sakura-sysmon --class=sakura-sysmon -t dev -x "bash -l -c ${HOME_SETUP}/lenovo_slack15/tmux/tmux_dev.sh"
Type=Application
Terminal=false
Icon=HandOpen
StartupNotify=false
MimeType=
Path=
