[Desktop Entry]
Comment[en_GB]=
Comment=
Exec=/home/mago/installs/setup/launchers/sakura_tmux_sysmon.sh
GenericName[en_GB]=
GenericName=
Icon=application-x-ms-dos-executable
MimeType=
Name[en_GB]=sysmon
Name=sysmon
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=none
X-KDE-SubstituteUID=false
X-KDE-Username=
