[Desktop Entry]
Name=sysmon
Icon=filled-xterm
Exec=sakura -c 80 -r 34 --config-file=sakura-sysmon --class=sakura-sysmon -t sysmon -x "bash -l -c ${HOME_SETUP}/lenovo_slack15/tmux/tmux_sysmon.sh"
Terminal=false
Type=Application
StartupNotify=false
